// to %
@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100;
  @return $result;
}

// to REM
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

// to EM
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}

// Адаптивні шрифти
@mixin adeptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} *
        ((100vh - 320px) / #{$container-width})
    );
  }
  @media (min-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addSize} * (100vh / #{$container-width})
    );
  }
}
