/* Base*/
$font-family: 'Open Sans', sans-serif;

/* Containers*/
$container-width: 1140px;
$container-padding: 15px;

$contaierfluid-width: 1960px;
$contaierfluid-padding: 20px;

/* Colors*/
$light-color: #ffffff;
$dark-color: #000000;
// $gray-color: #808080;
// $main-color: #808080;
// $primary-color: #000000;
// $secondary-color: #000000;
$title-color: #363838;
// $subtitle-color: #363838;
$text-color: #5a5a5a;
$subtext-color: #a1a1a1;
